.logout-button{
    width: 50px;
    background-color: #93E4FE;
    padding: 4px 0;
    border-radius: 4px;
    transition: all ease .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        background-color: green;
    }
}