.message-container{
    width: 100%;
    height: 100%;
    .message-header{
        border-bottom: 2px solid black;
        .message-title{
            font-size: 20px;
            font-weight: bold;
        }
    }
}

.message-item-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-top: 1px solid rgb(154, 151, 151);
    border-bottom: 1px solid rgb(154, 151, 151);
    cursor: pointer;
    transition: all ease .4s;
    box-sizing: border-box;
    &:hover{
        box-shadow: 0px 1px 2px 0 black;
        background-color: aliceblue;
    }
    .message-item-img{
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 2px solid rgb(154, 151, 151);
        background-image: url(https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8dXNlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .message-item-info{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        line-height: 1rem;
        .message-item-title{
            font-size: 16px;
            font-weight: bold;
        }
        .message-item-text{
            text-align: start !important;
            width: 300px;
            font-size: 12px;
            margin-top: 4px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .message-item-delete{
        .ms-item-delete-btn{
            background-color: transparent;
            i{
                color: red;
            }
        }
    }
    
}

.message-form{
    width: 100%;
    height: 100vh;
    .message-form-list{
        height: 80%;
        width: 100%;
        background-color: aliceblue;
        overflow: hidden;
        overflow-y: scroll;
        box-sizing: border-box !important;
        .me{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .me-text{
                text-align: start !important;
                background-color: rgb(237, 221, 221);
                border-radius: 4px;
            }
        }
        .you{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .you-text{
                text-align: start !important;
                background-color: rgb(200, 200, 200);
                border-radius: 6px 6px 6px 0;
            }
        }
        
    }

    .message-form-text-editor{
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid rgb(126, 125, 125);
        border-radius: 4px;
        textarea{
            width: 90%;
            border: none;
            resize: none;
            outline: none;
            padding: 4px 6px;
        }
    }
}