.school-card-container{
    width: 100%;
    height: 240px;
    background-color: #F1F3F4;
    padding: 10px;
    border-radius: 2px;
    border-top: 4px solid #65D8FD;
    transition: all ease .4s;
    margin-bottom: 10px;
    &:hover{
        box-shadow: 0 3px 3px 0 #9da3a5;
    }
    .img-box{
        width: 100%;
        height: 160px;
        background-color: white;
        border-radius: 2px;
    }
    .bottom-info{
        padding: 10px 0;
        border-top: 2px solid rgb(118, 115, 115);
    }
}